*{
    --card-background:#1D293D;
    --secondary-background:#172032;
    --input-background:#334155;
    --background:#0F172A;
    --primary-text:#f8f8f8;
    --primary-button:#3B82F6;
    --border:#334155b5;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--primary-text);


    --glow-color: #00c3ff;
    --glow-spread-color: #4d0199;

    --glow-color-x: #00c3ff;
    --glow-spread-color-x: #4d0199;

    --glow-color-o: #ff00c8;
    --glow-spread-color-o: #ff4d9e;

 

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width: 100vw;
    height: 100vh;

    padding: 50px 20px 100px;
 
}

.gamePad{
     width: 100%;
    max-width: 640px;
    height: auto;
    background: var(--secondary-background);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.gamePad .grid{
    position: relative;
    width: 100%;
    max-width: 400px;
    max-height: 400px;
    aspect-ratio: 1/1;

    background: var(--card-background);
    border-radius: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;

    align-items: center;
    justify-content: center;
    padding: 30px;

}
.cell{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    max-width: 100px;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: var(--input-background);
    border: 1px solid var(--card-background);
    position: relative;
  
}




.playersBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.x_cell::after{
    width: 100%;
    height: 10px;
    background: var(--glow-color-x);
         box-shadow:
    0 0 10px var(--glow-color),
    /* 0 0 30px var(--glow-spread-color), */
    inset 0 0 15px var(--glow-color);
       

    content: "";
    transform: rotate(45deg);
    position: absolute;
    border-radius: 5px;


}

.x_cell::before{
    width: 100%;
    height: 10px;
    background: #00c3ff;
    /* var(--primary-text); */
    content: "";
    transform: rotate(-45deg);
    position: absolute;
    border-radius: 5px;
         box-shadow:
    0 0 10px var(--glow-color-x),
    /* 0 0 30px var(--glow-spread-color-x), */
    inset 0 0 15px var(--glow-color-x);
    

}

.o_cell::after{
    width: 60%;
    height: 60%;
    border-radius: 50%;
    border: 10px solid var(--primary-text);
    content: "";
    box-shadow:
    0 0 10px var(--glow-color-o),
    inset 0 0 15px var(--glow-color-o);

}

#padTitle{
    font-size: 2.5rem;
}

#blocker{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1D293Da0;
    z-index: 10;
    display: none;
    justify-content: center;
    align-items: center;
}

#resetButton{
    padding: 10px 20px;
    background: var(--primary-button);
    border: none;
    border-radius: 5px;
    color: var(--primary-text);
    font-size: 1.2rem;
    cursor: pointer;
}

.winning_cell{
    background: #16a34a;
}

#storke-line{
    position: absolute;
    /* width: 80%; */
    height: 10px;
    background: #f8f8ff;
     box-shadow:
    0 0 10px #f5fffa,
    inset 0 0 15px #f0fff0;

    content: "";
    z-index: 5;
    display: none;
    border-radius: 5px;
}   


@media (min-width: 600px) {
    .cell:hover&&:not(.x_cell):not(.o_cell){
    background: var(--border);
}
}